#file: noinspection SpellCheckingInspection
services:
  postgres:
    container_name: recordbook-postgres
    image: 'postgres:latest'
    shm_size: 128mb
    environment:
      - 'POSTGRES_USER=root'
      - 'POSTGRES_PASSWORD=mysecretpassword'
      - 'POSTGRES_DB=recordbook'
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  redis:
    container_name: recordbook-redis
    image: 'redis:latest'
    environment:
      - 'REDIS_PASSWORD=secret'
    ports:
      - '6379:6379'
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    restart: unless-stopped

volumes:
  postgres: