/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use './assets/tailwind.css';
@plugin "tailwindcss-primeui";


html, body, app-root {
  height: 100%;
  width: 100%;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

///* Ensure top-level app content uses full height */
//body > * {
//  min-height: 100%;
//}
